:root{
    --primary: #fc0404;
    --dark: #131a26;
    --grey: #ccc;
    --light: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: var(--dark);
    padding: 8px;
    display: flex;
    justify-content: baseline;
    align-items: left;
    border-bottom: 8px solid var(--primary);
}
header h1{
    color: rgb(253, 253, 253);
    font-size: 42px;
    text-transform: uppercase;
    text-shadow: -4px 1px var(--primary);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
}
.hide{
    display: none;
}
.box{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}
.cell{
    border: 1px solid var(--dark);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
.playerX{
    color: #fc0404;
}
.playerO{
    color: green;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
#reset{
    background-color: #131a26;
    color: #eee;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

